@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.logo {
  width: 40px;
  height: auto;
  margin: 2rem;
}

.primary-top {
  display: flex;
}

.logoLink {
  display: flex;
  width: 60px;
}

.timeline-main {
  background-image: url("/exp.webp.1.webp");
  background-repeat: no-repeat;
  background-position: right bottom;
  /* background-attachment: fixed; */
  background-size: contain;
  /* background-color: #f4e8d6; */
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #548982;
}

h3 {
  justify-items: center;
  color: #88593a;
}

.vertical-timeline-element-content.bounce-in {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.vertical-timeline-element-content-arrow {
  border-right: 7px solid transparent !important;
}

.date {
  color: #f97316;
}

.vertical-timeline-element .vertical-timeline-element-content {
  border-bottom: 0.5px solid #548982;
  width: 75%;
}

.vertical-timeline-custom-line.vertical-timeline.vertical-timeline--animate.vertical-timeline--two-columns {
  width: 75%;
}

.vertical-timeline.vertical-timeline-custom-line::before {
  background: #548982;
  width: 2px;
}

.vertical-timeline.vertical-timeline-custom-line
  .vertical-timeline-element
  .vertical-timeline-element-icon {
  box-shadow: 0 0 0 2px #548982, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 2px 0 2px rgba(0, 0, 0, 0.05);
}

.vertical-timeline-custom-line.vertical-timeline.vertical-timeline--animate.vertical-timeline--two-columns {
  box-shadow: none;
}

.icon-small {
  width: 20px;
  height: 20px;
}
